</div> 
  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <!-- Navbar menu content here -->
      <li><a>Home</a></li>
      <li>
        <details>
          <summary>
            About
          </summary>
          <ul class="p-2">
            <li><a>Contact Us</a></li>
            <li><a>FAQ</a></li>
            <li><a>Fields</a></li>
            <li><a>Code of Conduct</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>
            Parents
          </summary>
          <ul class="p-2">
            <li><a>Register</a></li>
            <li><a>Schedule</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>
            Coaches
          </summary>
          <ul class="p-2">
            <li><a>Standings</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>
            Support
          </summary>
          <ul class="p-2">
            <li><a>Volunteer</a></li>
            <li><a>Sponser & Donate</a></li>
          </ul>
        </details>
      </li>
      <li>
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
        </div>
      </li>
    </ul>
  </div>
</div>