<div class="card lg bg-neutral shadow-xl">
    <div class="card-body place-items-center">
        <h2 class="card-title">Upcoming Games</h2>
            <div class="collapse-title text-l font-medium text-center">
                <div class="flex w-full">
                    <div class="grid w-1/2 flex-grow card bg-base-100 p-2 rounded-box place-items-center">
                        <h2 class="card-title">Boston Celtics</h2>
                        <div class="avatar">
                            <div class="w-24 rounded-full">
                              <img src="./assets/celtics.jpg" />
                            </div>
                        </div>
                        <h2 class="card-title">44-12</h2>
                    </div>
                    <div class="divider divider-horizontal">VS</div>
                    <div class="grid w-1/2 flex-grow card bg-base-100 p-2 rounded-box place-items-center">
                        <h2 class="card-title">OKC Thunder</h2>
                        <div class="avatar">
                            <div class="w-24 rounded-full">
                              <img src="./assets/OKC.png" />
                            </div>
                        </div>
                        <h2 class="card-title">40-17</h2>
                    </div>
                  </div>
                  <div class="grid w-full place-items-center pt-2">
                    <h2 class="card-title">Friday, February 22nd 2024</h2>
                  </div> 
            </div>
            <div class="collapse-title text-l font-medium text-center">
                <div class="flex w-full">
                    <div class="grid w-1/2 flex-grow card bg-base-100 p-2 rounded-box place-items-center">
                        <h2 class="card-title">Boston Celtics</h2>
                        <div class="avatar">
                            <div class="w-24 rounded-full">
                              <img src="./assets/celtics.jpg" />
                            </div>
                        </div>
                        <h2 class="card-title">44-12</h2>
                    </div>
                    <div class="divider divider-horizontal">VS</div>
                    <div class="grid w-1/2 flex-grow card bg-base-100 p-2 rounded-box place-items-center">
                        <h2 class="card-title">Minnesota Timberwolves</h2>
                        <div class="avatar">
                            <div class="w-24 rounded-full">
                              <img src="./assets/timb.png" />
                            </div>
                        </div>
                        <h2 class="card-title">40-17</h2>
                    </div>
                  </div>
                  <div class="grid w-full place-items-center pt-2">
                    <h2 class="card-title">Friday, February 22nd 2024</h2>
                  </div> 
            </div>
          </div>
        </div>