<div id="logoContainer">
  
</div>
<div class="card lg bg-neutral shadow-xl" id="titleHeader">
    <div class="card-body place-items-center">
        <h2 class="card-title text-2xl" id="gamesTitle">
          <button onclick="location.href='../eastWestPage/index.html'" id="teamBackArrow">
          <svg class="swap-off w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
          </svg>
        </button>
          NBA East
          
        </h2>
      </div>
    </div>
      <div class="card-body place-items-center">
          <div class="grid w-full auto-rows-max grid-cols-auto-fill-325 justify-items-center" id="liveGamesCardContainer">
            
            
          </div>
        </div>