<div class="card lg bg-neutral shadow-xl">
    <div class="card-body" id="topPlayersContainer">
        <div class="playerCardHeader">
            <h2 class="card-title">Top Players</h2>
            <p class="cardPts">Pts</p>
            <div class="collapse">
                <input type="radio" name="my-accordion-1"/> 
                <div class="collapse-title text-l font-medium">
                    <div class="playerList">
                        <div class="avatar">
                            <div class="w-14 rounded-full">
                              <img src="${img}" />
                            </div>
                        </div>
                        <p>${name}</p>
                        <p class="cardPts">${pts}</p>
                    </div>
                    <div class="divider"></div> 
                </div>
                <div class="collapse-content text-center"> 
                    <div class="stats shadow" id="playerStatWidth">
                        <div class="stat place-items-center">
                        <div class="stat-title text-base">${reb_name}</div>
                        <div class="stat-value text-xl">${reb_num}</div>
                        <div class="stat-value text-xs">${reb_rank}</div>
                        </div>
                        <div class="stat place-items-center">
                        <div class="stat-title text-base">${AST_name}</div>
                        <div class="stat-value text-xl">${AST_num}</div>
                        <div class="stat-value text-xs">${AST_rank}</div>
                        </div>
                        <div class="stat place-items-center">
                        <div class="stat-title text-base">${FG_name}</div>
                        <div class="stat-value text-xl">${FG_num}</div>
                        <div class="stat-value text-xs">${FG_rank}</div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
  </div>