---
layout: base.html
title: Eleventy Test
---
<div class="hero min-h-fit shadow-xl" style="background-image: url(./assets/kobe-2001-1.webp);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Welcome To NBStats</h1>
        <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Read Blog</button>
      </div>
    </div>
  </div>
  {% include "./_includes/upcomingGames.html" %}
  {% include "./_includes/mvpRookie.html" %}
  <div class="card lg bg-neutral shadow-xl">
    <div class="card-body">
        <div class="playerCardHeader">
            <h2 class="card-title">Top Players</h2>
            <p class="cardPts">Pts</p>
        </div>
        <div class="collapse">
            <input type="radio" name="my-accordion-1"/> 
            <div class="collapse-title text-l font-medium">
                <div class="playerList">
                    <div class="avatar">
                        <div class="w-14 rounded-full">
                          <img src="assets/luka.png" />
                        </div>
                    </div>
                    <p>Luka Doncic (DAL)</p>
                    <p class="cardPts">34.3</p>
                </div>
                <div class="divider"></div> 
            </div>
            <div class="collapse-content text-center"> 
                <div class="stats shadow w-11/12">
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">REB</div>
                    <div class="stat-value text-xl">8.8</div>
                    <div class="stat-desc text-sm">18th</div>
                    </div>
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">AST</div>
                    <div class="stat-value text-xl">9.5</div>
                    <div class="stat-desc text-sm">3rd</div>
                    </div>
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">FG%</div>
                    <div class="stat-value text-xl">49.2</div>
                    <div class="stat-desc text-sm">54th</div>
                    </div>
                </div>
            </div>
          </div>
          <div class="collapse">
            <input type="radio" name="my-accordion-1"/> 
            <div class="collapse-title text-l font-medium">
                <div class="playerList">
                    <div class="avatar">
                        <div class="w-14 rounded-full">
                          <img src="assets/shai.png" />
                        </div>
                    </div>
                    <p>Shai Gilgeous-Alexander (OKC)</p>
                    <p class="cardPts">31.2</p>
                </div>
                <div class="divider"></div> 
            </div>
            <div class="collapse-content text-center"> 
                <div class="stats shadow w-11/12">
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">REB</div>
                    <div class="stat-value text-xl">8.8</div>
                    <div class="stat-desc text-sm">18th</div>
                    </div>
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">AST</div>
                    <div class="stat-value text-xl">9.5</div>
                    <div class="stat-desc text-sm">3rd</div>
                    </div>
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">FG%</div>
                    <div class="stat-value text-xl">49.2</div>
                    <div class="stat-desc text-sm">54th</div>
                    </div>
                </div>
            </div>
          </div>
          <div class="collapse">
            <input type="radio" name="my-accordion-1"/> 
            <div class="collapse-title text-l font-medium">
                <div class="playerList">
                    <div class="avatar">
                        <div class="w-14 rounded-full">
                          <img src="assets/gian.png" />
                        </div>
                    </div>
                    <p>Giannis Antetokounmpo (MIL)</p>
                    <p class="cardPts">30.8</p>
                </div>
            </div>
            <div class="collapse-content text-center"> 
                <div class="stats shadow w-11/12">
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">REB</div>
                    <div class="stat-value text-xl">8.8</div>
                    <div class="stat-desc text-sm">18th</div>
                    </div>
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">AST</div>
                    <div class="stat-value text-xl">9.5</div>
                    <div class="stat-desc text-sm">3rd</div>
                    </div>
                    <div class="stat place-items-center">
                    <div class="stat-title text-base">FG%</div>
                    <div class="stat-value text-xl">49.2</div>
                    <div class="stat-desc text-sm">54th</div>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>
  <div class="card lg bg-neutral shadow-xl">
    <div class="card-body">
        <div class="playerCardHeader">
            <h2 class="card-title">Top Teams</h2>
            <p class="cardPts">Record</p>
        </div>
        <div class="collapse">
            <input type="radio" name="my-accordion-1"/> 
            <div class="collapse-title text-l font-medium">
                <div class="playerList">
                    <div class="avatar">
                        <div class="w-14 rounded-full">
                          <img src="assets/celtics.jpg" />
                        </div>
                    </div>
                    <p>Boston Celtics</p>
                    <p class="cardPts">44-12</p>
                </div>
                <div class="divider"></div> 
            </div>
            <div class="collapse-content"> 
                <div class="playerStatsHidden">
                    <p class="text-xs">HOME</p>
                    <p class="text-xs">AWAY</p>
                </div>
                <div class="playerStatsHidden">
                    <p class="text-2xl">26-3</p>
                    <p class="text-2xl">19-9</p>
                </div>
            </div>
          </div>
          <div class="collapse">
            <input type="radio" name="my-accordion-1"/> 
            <div class="collapse-title text-l font-medium">
                <div class="playerList">
                    <div class="avatar">
                        <div class="w-14 rounded-full">
                          <img src="assets/timb.png" />
                        </div>
                    </div>
                    <p>Minnesota Timberwolves</p>
                    <p class="cardPts">40-17</p>
                </div>
                <div class="divider"></div> 
            </div>
            <div class="collapse-content"> 
                <div class="playerStatsHidden">
                    <p class="text-xs">HOME</p>
                    <p class="text-xs">AWAY</p>
                </div>
                <div class="playerStatsHidden">
                    <p class="text-2xl">20-6</p>
                    <p class="text-2xl">20-11</p>
                </div>
            </div>
          </div>
          <div class="collapse">
            <input type="radio" name="my-accordion-1"/> 
            <div class="collapse-title text-l font-medium">
                <div class="playerList">
                    <div class="avatar">
                        <div class="w-14 rounded-full">
                          <img src="assets/OKC.png" />
                        </div>
                    </div>
                    <p>Oklahoma City Thunger</p>
                    <p class="cardPts">40-17</p>
                </div>
            </div>
            <div class="collapse-content"> 
                <div class="playerStatsHidden">
                    <p class="text-xs">HOME</p>
                    <p class="text-xs">AWAY</p>
                </div>
                <div class="playerStatsHidden">
                    <p class="text-2xl">23-6</p>
                    <p class="text-2xl">17-11</p>
                </div>
            </div>
          </div>
    </div>
  </div>
  {% include "./_includes/footer.html" %}