---
layout: base.html
title: NBStats
---
<div class="hero min-h-fit shadow-xl" style="background-image: url(./assets/kobe-2001-1.webp);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Welcome To NBStats</h1>
        <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Read Blog</button>
      </div>
    </div>
  </div>
  {% include "./_includes/upcomingGames.html" %}
  {% include "./_includes/mvpRookie.html" %}
  {% include "./_includes/topPlayers.html" %}
  {% include "./_includes/topTeams.html" %}
  {% include "./_includes/footer.html" %}
